@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400');

* {
  box-sizing: border-box;
  color: #333;
}
html {
  font-size: 62.5%;
}
body {
  background: #3ee;
  margin: 0;
  font-size: 1.6rem;
  width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
  text-align: center;
}
a {
  font-weight: bold;
  color: white;
}
