@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400');

* {
  box-sizing: border-box;
  color: #333;
}

html {
  font-size: 62.5%;
}

* + * {
  margin-top: 1rem;
}

body {
  background: #609a9a;
  margin: 0;
  font-size: 1.6rem;
  width: 100vw;
  line-height: 1.4;
  height: 100vh;
  width: 100vw;
  text-align: center;
}

a {
  font-weight: bold;
  margin: 0 1rem;
  color: white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222;
}
h1 + *,
h2 + *,
h3 + *,
h4 + *,
h5 + * {
  line-height: 1.1;
}

main {
  border: 2px dashed darkorchid;
  margin: 2rem auto 4rem;
  max-width: 90vw;
}
